@import "theme.css";

.game-canvas {
    margin: 0;
    overflow: hidden;
    border: var(--border-colour) 1px solid;
}

.game-menu {
    margin: 2px;
}

.action-button {
    color: inherit;
    padding: 10px 15px;
    margin: 2px;
    font-size: 18px;
    border: var(--border-colour) 0px solid;
}

.action-button-inactive {
    background-color: var(--foreground);
    pointer-events: none;
}